<a href="https://colab.research.google.com/github/shaifashala/DailyReport/blob/master/Day2S1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                                                       
EXAMPLES

In [0]:
#Program to find the largest number in a list.
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:3
Enter element:1
Enter element:2
Enter element:3
Largest element is: 3

In [0]:
#Python Program to put the even and odd elements in a list into two different lists. 
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:3
Enter element:2
Enter element:3
Enter element:4
The even list [2, 4]
The odd list [3]

In [0]:
#Python Program to merge two lists and sort it.
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:3
Enter element:1
Enter element:5
Enter element:2
Enter number of elements:3
Enter element:3
Enter element:2
Enter element:1
Sorted list is: [1, 1, 2, 2, 3, 5]

In [0]:
#Python Program to sort the list according to the second element in the sublist.

a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

In [0]:
#Python Program to find the second largest number in a list using bubble sort. 
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:5
Enter element:1
Enter element:5
Enter element:3
Enter element:4
Enter element:2
Second largest number is: 4

In [0]:
#Program to create a list of tuples with the first element as the number and the second element as the square of the number. 
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:2
Enter the upper range:9
[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [0]:
#Python Program to generate random numbers from 1 to 20 and append them to the list.

import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:5
Randomised list is:  [13, 9, 5, 2, 19]

In [0]:
#Write python program to have a list of words  to sort them from longest to shortest using list of tuples
 
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [0]:
#Python program that assigns variables

# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

In [0]:
#Python program that searches tuples
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
    print("Cat found")

# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found

LIST EXERCISE

In [0]:
#print multiples of 3 upto 200 using a list
l=[]
for i in range(1,200):
  if (i%3==0):
    l.append(i)
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [0]:
#print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)
l=[]
for i in range(1000,2001 ):
  if((i%5==0)and(i%7==0)):
    l.append(i)
print(l)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

In [0]:
#Add the n number of names in a list and print them alphabetically and reverse alphabetically.
names=[]
n=int(input("enter the number of name:"))
for i in range(0,n):
  name=input("enter name:")
  names.append(name)
print('The  list is:',names)
alphlist=sorted(names,reverse=False)
print('Name in alphabetical order:',alphlist)
revlist=sorted(names,reverse=True)
print('Name in reverse alphabetical order:',revlist)

enter the number of name:4
enter name:joylin
enter name:rousha
enter name:shaifa
enter name:sri
The  list is: ['joylin', 'rousha', 'shaifa', 'sri']
Name in alphabetical order: ['joylin', 'rousha', 'shaifa', 'sri']
Name in reverse alphabetical order: ['sri', 'shaifa', 'rousha', 'joylin']

In [0]:
#Print  perfect squares divisible by 5 between 500 and 1000( (both inclusive) using list
l=[]
for i in range( 500,1001):
  l.append(i*i)
print(l)

[250000, 251001, 252004, 253009, 254016, 255025, 256036, 257049, 258064, 259081, 260100, 261121, 262144, 263169, 264196, 265225, 266256, 267289, 268324, 269361, 270400, 271441, 272484, 273529, 274576, 275625, 276676, 277729, 278784, 279841, 280900, 281961, 283024, 284089, 285156, 286225, 287296, 288369, 289444, 290521, 291600, 292681, 293764, 294849, 295936, 297025, 298116, 299209, 300304, 301401, 302500, 303601, 304704, 305809, 306916, 308025, 309136, 310249, 311364, 312481, 313600, 314721, 315844, 316969, 318096, 319225, 320356, 321489, 322624, 323761, 324900, 326041, 327184, 328329, 329476, 330625, 331776, 332929, 334084, 335241, 336400, 337561, 338724, 339889, 341056, 342225, 343396, 344569, 345744, 346921, 348100, 349281, 350464, 351649, 352836, 354025, 355216, 356409, 357604, 358801, 360000, 361201, 362404, 363609, 364816, 366025, 367236, 368449, 369664, 370881, 372100, 373321, 374544, 375769, 376996, 378225, 379456, 380689, 381924, 383161, 384400, 385641, 386884, 388129, 389376, 390625, 391876, 393129, 394384, 395641, 396900, 398161, 399424, 400689, 401956, 403225, 404496, 405769, 407044, 408321, 409600, 410881, 412164, 413449, 414736, 416025, 417316, 418609, 419904, 421201, 422500, 423801, 425104, 426409, 427716, 429025, 430336, 431649, 432964, 434281, 435600, 436921, 438244, 439569, 440896, 442225, 443556, 444889, 446224, 447561, 448900, 450241, 451584, 452929, 454276, 455625, 456976, 458329, 459684, 461041, 462400, 463761, 465124, 466489, 467856, 469225, 470596, 471969, 473344, 474721, 476100, 477481, 478864, 480249, 481636, 483025, 484416, 485809, 487204, 488601, 490000, 491401, 492804, 494209, 495616, 497025, 498436, 499849, 501264, 502681, 504100, 505521, 506944, 508369, 509796, 511225, 512656, 514089, 515524, 516961, 518400, 519841, 521284, 522729, 524176, 525625, 527076, 528529, 529984, 531441, 532900, 534361, 535824, 537289, 538756, 540225, 541696, 543169, 544644, 546121, 547600, 549081, 550564, 552049, 553536, 555025, 556516, 558009, 559504, 561001, 562500, 564001, 565504, 567009, 568516, 570025, 571536, 573049, 574564, 576081, 577600, 579121, 580644, 582169, 583696, 585225, 586756, 588289, 589824, 591361, 592900, 594441, 595984, 597529, 599076, 600625, 602176, 603729, 605284, 606841, 608400, 609961, 611524, 613089, 614656, 616225, 617796, 619369, 620944, 622521, 624100, 625681, 627264, 628849, 630436, 632025, 633616, 635209, 636804, 638401, 640000, 641601, 643204, 644809, 646416, 648025, 649636, 651249, 652864, 654481, 656100, 657721, 659344, 660969, 662596, 664225, 665856, 667489, 669124, 670761, 672400, 674041, 675684, 677329, 678976, 680625, 682276, 683929, 685584, 687241, 688900, 690561, 692224, 693889, 695556, 697225, 698896, 700569, 702244, 703921, 705600, 707281, 708964, 710649, 712336, 714025, 715716, 717409, 719104, 720801, 722500, 724201, 725904, 727609, 729316, 731025, 732736, 734449, 736164, 737881, 739600, 741321, 743044, 744769, 746496, 748225, 749956, 751689, 753424, 755161, 756900, 758641, 760384, 762129, 763876, 765625, 767376, 769129, 770884, 772641, 774400, 776161, 777924, 779689, 781456, 783225, 784996, 786769, 788544, 790321, 792100, 793881, 795664, 797449, 799236, 801025, 802816, 804609, 806404, 808201, 810000, 811801, 813604, 815409, 817216, 819025, 820836, 822649, 824464, 826281, 828100, 829921, 831744, 833569, 835396, 837225, 839056, 840889, 842724, 844561, 846400, 848241, 850084, 851929, 853776, 855625, 857476, 859329, 861184, 863041, 864900, 866761, 868624, 870489, 872356, 874225, 876096, 877969, 879844, 881721, 883600, 885481, 887364, 889249, 891136, 893025, 894916, 896809, 898704, 900601, 902500, 904401, 906304, 908209, 910116, 912025, 913936, 915849, 917764, 919681, 921600, 923521, 925444, 927369, 929296, 931225, 933156, 935089, 937024, 938961, 940900, 942841, 944784, 946729, 948676, 950625, 952576, 954529, 956484, 958441, 960400, 962361, 964324, 966289, 968256, 970225, 972196, 974169, 976144, 978121, 980100, 982081, 984064, 986049, 988036, 990025, 992016, 994009, 996004, 998001, 1000000]

TUPLE EXERCISE

In [0]:
#Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
    element=input("Enter element" + str(x+1) + ":")
    a.append(element)
max1=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

Enter the number of elements in list:3
Enter element1:AIET
Enter element2:WELCOME
Enter element3:TO
The word with the longest length is:
WELCOME

In [0]:
#Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.
import operator
n=int(input('Enter n:'))
d={}
for i in range(0,n):
  name=input('Enter student name:')
  marks=input('Enter marks:')
  d[name]=marks
t=list(d.items())
lst=sorted(t,key=operator.itemgetter(1),reverse=True)
print(lst)

Enter n:3
Enter student name:SHA
Enter marks:20
Enter student name:ROU
Enter marks:19
Enter student name:SRI
Enter marks:18
[('SHA', '20'), ('ROU', '19'), ('SRI', '18')]

In [0]:
#Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary
# Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary
import operator
n=int(input('Enter n:'))
d={}
for i in range(0,n):
  name=input('Enter employee name:')
  salary=input('Enter salary:')
  d[name]=salary
t=list(d.items())
lst=sorted(t,key=operator.itemgetter(1),reverse=False)
print(lst)

Enter n:4
Enter employee name:JOY
Enter salary:15000
Enter employee name:ROU
Enter salary:16000
Enter employee name:SHA
Enter salary:20000
Enter employee name:SRI
Enter salary:18000
[('JOY', '15000'), ('ROU', '16000'), ('SRI', '18000'), ('SHA', '20000')]